<h2> Errors are </h2>

<% if @employee.errors.any?%>
  <% @employee.errors.full_messages.each do |msg| %>
    <ul>
      <li> <%= msg %> </li>
    </ul>
  <% end %>
<% end %>

<% @employee.errors.full_messages.each do |msg| %>
  <ul>
    <li> <%= msg %> </li>
  </ul>
<% end %>

<%= form_for @employee do |f| %>

  <div>
    <p>
      <%= f.label :first_name %>
      <%= f.text_field :first_name%>
    </p>
  </div>

  <div>
    <p>
      <%= f.label :last_name %>
      <%= f.text_field :last_name%>
    </p>
  </div>

  <div>
    <p>
      <%= f.label :company_name %>
      <%= f.text_field :company_name%>
    </p>
  </div>

  <div>
    <p>
      <%= f.label :designation %>
      <%= f.text_field :designation%>
    </p>
  </div>

    <div>
    <p>
      <%= f.submit %>
    </p>
  </div>

<% end %>

<div>
  <%= link_to "Back to Index" , employees_path %>
</div>
